Source: libaverage
Section: main
Priority: extra
XBSC-Group: Libraries
XBSC-SubGroup: Math
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libaverage
Provides: Average.h
Architecture: all
Description: Average library

